@import "variables.scss";
@import "mixins.scss";


header {
    height: 60px;
    width: 100%;
    position: absolute;
    z-index: 5;
    margin: auto;
    
    .header__nav {
        height: inherit;
        width: 100%;
        padding: 0 10px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__h1 {
            font-size: 16px;
            color: $primaryTextColor;
        }
        .header__ul_visible {
            display: flex;
            .header__list-item {
                margin: 5px;
                a:hover {
                    text-decoration: underline solid 2px;
                    color: $primaryTextColor;
                }
            }
        }
        .header__ul_hamburger-menu-hidden-toggle {
            display: none;
            height: 50px;
            width: 50px;
            padding: 5px;
            position: relative;            
            background-color: #113446;

            .header__input_toggle-display {
                position: absolute;
                z-index: 1;
                margin: 0;
                height: inherit;
                width: inherit;
                cursor: pointer;
                opacity: 0;
            }
            .header__ul_hamburger-menu-line {
                background-color: #fff;
                height: 3px;
                width: 80%;
            }
            .header__ul_hamburger-menu-line::before, 
            .header__ul_hamburger-menu-line::after {
                content: '';
                background-color: inherit;
                height: 2px;
                width: 64%;
                position: absolute;
                top: 15px;
                z-index: 0;
            }
            .header__ul_hamburger-menu-line::after {
                height: 2.5px;
                top: 32.5px;
            }
        }
    }
}

main {
    height: 100%;
    width: auto;
    position: relative;
    div.hero__div_overlay {
        height: 500px;
        width: 100%;
        position: absolute;
        z-index: 4;
        background-color: #113446;
        opacity: 0.4;
    }
    section.hero {
        height: 500px;
        width: 100%;
        .hero__div_description {
            width: inherit;
            position: absolute;
            z-index: 4;
            display: block;
            text-align: center;
            top: 12.5%;
            h2.hero__h2 {
                color: $primaryTextColor;
                font-size: 38px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            p.hero__p {
                max-width: 210px;
                margin: 0 auto 50px auto;
                @include paragraphs
            }
            button.hero__btn_active {
                @include buttons
            }
        }
        .hero__figure {
            height: inherit;
            width: inherit;
            .hero__img {
                height: inherit;
                width: inherit;
            }
        }
    }
    section.showcase {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 25px;
        position: relative;
        top: 90%;
        z-index: 4;
        .showcase__div {
            text-align: center;
            .showcase__figure {
                height: inherit;
                width: inherit;
                position: relative;            
                top: -10%;
                img {
                    box-shadow: 0 0 5px 1px rgb(63, 63, 63);
                    border-radius: 10px;
                }
            }
            .showcase__button_active {
                @include buttons;
                width: 115px;
                display: block;
                position: relative;
                top: -25px;
                left: 67px;
            }
            .showcase__p {
                max-width: 250px;
                color: #000;
                text-align: left;
                padding: 15px;
                .showcase__span_bold {
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
}

footer {
    height: auto;
    max-width: 1000px;
    margin: auto;
        .footer__div {
            height: auto;
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 40px;
            justify-content: center;
            text-align: center;
        .footer__div_address {
            height: auto;
            width: auto;
            grid-area: 1 / 1 / 2 / 2;
            text-align: center;
           .footer__p {
                font-weight: 700;
                color: #000;
            }
            address.footer__address {
                font-weight: 700;
            }
        }
        figure {
            grid-area: 2 / 1 / 3 / 3;
        }
        .footer__div_newsletter-form {
            grid-area: 1 / 2 / 2 / 3;
            width: 300px;
            margin: auto;
            justify-content: center;
            .newsletter__h3 {
                color: #000;
                margin-bottom: 10px;
            }
            .footer__form {
                .footer__input_email {
                    display: block;
                    margin: 10px auto;
                }
            }
        }    
    }
}

//MEDIA QUERIES

@media screen and (max-width: 500px) { 
    header {
        .header__nav {
            .header__ul_visible {
                display: none;
            }
            .header__ul_hamburger-menu-hidden-toggle {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    main {
        section.showcase {
            .showcase__div {
                width: 150px;
                .showcase__figure {
                    width: 150px;
                    img {
                        width: 150px;
                    }
                    .showcase__button_active {
                        height: 40px;
                        width: 100px;
                        font-size: 12px;
                        font-weight: 600;
                        position: relative;
                        top: -20px;
                        left: 25px;
                    }
                    .showcase__p {
                        max-width: 250px;
                        font-size: 10px;
                        color: #000;
                        text-align: left;
                        padding: 15px;
                        .showcase__span_bold {
                            font-weight: 700;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    footer {
        margin-bottom: 25px;
        .footer__div {
            display: block;
            
            figure {
                margin: 50px;
            }
            .footer__div_newsletter-form {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    main {
        section.showcase {
            gap: 5px;
            .showcase__div {
                width: 115px;
                .showcase__figure {
                    width: inherit;
                    img {
                        width: inherit;
                    }
                    .showcase__button_active {
                        font-size: 8px;
                        height: 30px;
                        width: 70px;
                        position: relative;
                        top: -15px;
                        left: 17px;
                    }
                    .showcase__p {
                        max-width: 250px;
                        font-size: 8px;
                        color: #000;
                        text-align: left;
                        padding: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    header {
        .header__nav {
            .header__h1 {
                font-size: 24px;
            }
            .header__ul_visible {
                .header__list-item {
                    font-size: 20px;
                }
            }
        }
    }

    main {
        div.hero__div_overlay {
            height: 600px;
        }
        section.hero {
            height: 600px;
            .hero__div_description {
                h2.hero__h2 {
                    font-size: 50px;
                }
                p.hero__p {
                    max-width: 400px;
                    font-size: 25px;
                }
                button.hero__btn_active {
                    height: 70px;
                    width: 125px;
                    font-size: 24px;
                }
            }
        }
        section.showcase {
            .showcase__div {
                .showcase__p {
                    .showcase__span_bold {
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
            }
        }    
    }
}

@media screen and (min-width: 1550px) {
    header {
        .header__nav {
            .header__h1 {
                font-size: 32px;
            }
            .header__ul_visible {
                .header__list-item {
                    font-size: 30px;
                    margin: 0 15px;
                }
            }
        }
    }
    main {
        section.hero {
            .hero__div_description {
                h2.hero__h2 {
                    font-size: 56px;
                }
                button.hero__btn_active {
                    height: 80px; 
                    width: 140px;
                    font-size: 32px;
                }                
            }
        }
        section.showcase {
            .showcase__div {
                .showcase__figure {
                    width: 300px;
                    img {
                        width: inherit;
                    }
                }
                .showcase__button_active {
                    font-size: 24px;
                    width: 145px;
                    height: 70px;
                    position: relative;
                    top: -35px;
                    left: 80px;
                }
                .showcase__p {
                    max-width: 300px;
                    font-size: 20px;
                    .showcase__span_bold {
                        font-size: 28px;
                    }
                }
            }
        }
    }
    
    footer {
        height: auto;
        max-width: 1700px;
        margin: auto;
        .footer__div {
            .footer__div_address {
               .footer__p {
                    font-size: 20px;
                }
                address.footer__address {
                    font-size: 20px;
                }
            }
            .footer__div_newsletter-form {
                width: 400px;
                .newsletter__h3 {
                    font-size: 32px;
                }
                .footer__form {
                    text-align: center;
                    .footer__input_email {
                        font-size: 26px;
                        height: 40px;
                        margin: 25px auto;
                    }
                    .footer__button_form-submit {
                        font-size: 24px;
                    }
                }
            }    
        }
    }
}
